// colors variables

//color order is always from lightest one of his category to the deepest one, and from the most transparent to the most opaque one

/*
    b- = border
    bg- = background
    c- = color
    darkest = RGB full black (#000000) (transparency could change)
    f- = fill
    lightest = RGB full white (#FFFFFF) (transparency could change)
    t = transparent
*/

    //background colors: 14

    $bg-gradient-yellow: #98E05F;
    $bg-gradient-yellow-t: #99e05fDD;
    $bg-gradient-green:#02D8A4;
    $bg-gradient-green-t:#02D8A4DD;

    $bg-brand-green:#00D9A6;
    $bg-brand-blue:#527CEB;

    $bg-lightest:#FFFFFF;
    $bg-lightest-t:#FFFFFF59;
    $bg-light-1:#F9F9F9;
    $bg-light-2:#F5F5F5;

    $bg-gray-1:#E5E3DF;
    $bg-gray-2:#BBBBBB;
    $bg-gray-t:#70707059;

    $bg-dark-1:#2f2f2fdd;
    $bg-dark-2:#333333;
    $bg-darkest-t1:#00000073;
    $bg-darkest-t2:#000000B3;
    $bg-darkest-t3:#000000E6;


    //colors: 20

    $c-brand-green:#00D9A6;
    $c-brand-blue:#1BB0CE;

    $c-lightest:#FFFFFF;
    $c-lightest-t-1:#FFFFFFCF;
    $c-lightest-t-2:#FFFFFFCC;
    $c-lightest-t-3:#FFFFFFC9;
    $c-lightest-t-4:#FFFFFFB3;
    $c-lightest-t-5:#FFFFFF99;
    $c-lightest-t-6:#FFFFFF80;
    $c-light:#F9F9F9;

    $c-gray-1:#AAAAAA;
    $c-gray-2:#888888;
    $c-gray-3:#555555;

    $c-dark-1:#444444;
    $c-dark-2:#3D3D3D;
    $c-dark-3:#393939;
    $c-dark-4:#202020;
    $c-dark-5:#0E0E0E;
    $c-dark-5-t:#0E0E0EB3;
    $c-darkest:#000000;


    //fill colors: 2

    $f-lightest:#FFFFFF;
    $f-darkest:#000000;


    //border colors: 3

    $b-lightest:#FFFFFF;
    $b-gray-1:#DEDEDE;
    $b-gray-2:#BBBBBB;