@use './partials/colors' as *;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

@mixin middle-button{                 
    height: 52px;
    width: 160px;
    border-radius: 80px;
    text-transform: uppercase;
    border: none;
    color: $c-lightest;
}

@mixin brand-color{
    background: linear-gradient(to right, $bg-gradient-yellow, $bg-gradient-green, $bg-dark-1, black);
    background-size: 300%;
    background-position:left ;
    box-shadow: #e0a45f 0px 7px 29px 0px;
    transition: background-position .55s;
    &:hover{
        cursor: pointer;
        background-position: right;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    }
}

@mixin brand-dark {
    background:linear-gradient(to right, black, $bg-dark-1,$bg-gradient-yellow, $bg-gradient-green);
    background-size: 300%;
    background-position: left;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    transition: background-position .55s;
    &:hover{
        cursor: pointer;
        background-position: right;
        box-shadow: #e0a45f 0px 7px 29px 0px;
    }
}